{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}

    <style>
        img[usemap] {
            border: none;
            height: auto;
            max-width: 100%;
            width: auto;
        }
    </style>

    <div class="container mt-3">
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    </div>
    <div class="container home"  style="margin-top:20px;display: none ">

        <div class="float-left">
            <button type="button" class="btn btn-secondary" id="btn_test" onclick="ajaxTest();">générer un nombre aléatoire via AJAX</button>
        </div>
        <div class="float-right">
            <div   class=""><h2 id="reponseAjax"></h2></div>
        </div>
    </div>
    <div class="container home"  style="margin-top:80px;display: none">
        <div class="float-left">
            <!--<a href="{#{ path('readText') }#}" class="btn btn-secondary">Lire un fichier texte</a>-->
            <button type="button" class="btn btn-secondary" id="btn_test" onclick="readText();">Lire un fichier texte</button>
        </div>
        <div class="float-right">
            <div id="reponseTextAjax"></div>
        </div>
    </div>
    <br>
    <div class="container home"  style="margin-top:80px;display: none ">
        <div class="float-left">
            <button type="button" class="btn btn-secondary" id="btn_email" onclick="readMail();">Nombre d'email</button>
        </div>
        <div class="float-right">
            <div id="reponseMailAjax"></div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/map.js')}}"></script>
    <div  class="container img">
    <img src="{{asset('img/fishbones.jpg')}}"   alt="fishbones"   usemap="#fishbones" id="fishbones" width="auto" height="auto"/>
        <map name="fishbones">
            <area shape="circle" coords="900,300,30"   href="#" alt="exemple de cercle" onclick="showButton('home','img')"  />
            <area shape="circle" coords="550,630,30"   href="{{ path('findFile') }}" alt="exemple de cercle"  />
        </map>
    </div>


{% endblock %}